footer {
    background: white;
    height: 60px;
    width: 100%;
    border-top: 1px #CCCCCC solid;
    bottom: 0;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: center;
}

footer p {
    margin: 20px;
}
